---
---

@import "{{ site.theme }}";

@keyframes blink-caret { 50% { background-color: transparent; } }
#underline {
	animation:blink-caret 1s step-end infinite;
    width: 3px;
    height: 20px;
    background-color: #000;
    float: left;
    position: absolute;
}
